<div class="nav-container">
    <div class="navigation">
        <ul>
            <li class="list" routerLinkActive="active">
                <a  routerLink="/cv">
                    <span class="icon">
                        <img src="../../../assets/navbar/about.png" alt="">
                    </span>
                    <span class="text">about</span>
                </a>
            </li>
            <li class="list" routerLinkActive="active">
                <a routerLink="/motivation-letter">
                    <span class="icon">
                        <img src="../../../assets/navbar/motivation.png" alt="">
                    </span>
                    <span class="text">motivations</span>
                </a>
            </li>
            <li class="list" routerLinkActive="active">
                <a routerLink="/massage-website">
                    <span class="icon">
                        <img src="../../../assets/navbar/spa.png" alt="">
                    </span>
                    <span class="text">massage</span>
                </a>
            </li>
            <li class="list" routerLinkActive="active">
                <a routerLink="/weather-forecast">
                    <span class="icon">
                        <img src="../../../assets/navbar/weather.png" alt="">
                    </span>
                    <span class="text">weather</span>
                </a>
            </li>
            <li class="list" routerLinkActive="active">
                <a routerLink="/space-travel">
                    <span class="icon">
                        <img src="../../../assets/navbar/planet.png" alt="">
                    </span>
                    <span class="text">space</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
</div>
