<div class="container">
    <div class="row">
        <div class="col-12 opening">
            <p>Popovics Péter</p>
            <h1>portfolio</h1>
            <div class="btn-start small">
                <button class="btn" routerLink="/cv">
                    <img src="../../../assets/home/arrow.png" alt="forward">
                </button>
            </div>
            <div class="btn-start desktop">
                <button class="btn" routerLink="/menu">
                    <img src="../../../assets/home/arrow.png" alt="forward">
                </button>
            </div>
        </div>
        <div class="pic">
            <img src="../../assets/home/landing-img.png" alt="Popovics Péter">
        </div>
    </div>
</div>
