@import url(../../../styles.scss);

.mobile-nav-container {
    display: none!important;
}

.container-home {
    position: relative;
    background-image: url(../../../assets/home/main-bg-merge.png);
    background-position: left;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--secondary-color);
    overflow-y: hidden;

    .opening {
        display: flex;
        flex-direction: row;

        .text {
            position: absolute;
            top: 35vh;
            text-align: right;
            color: white;

            p {
                font-family: var(--hand-ff);
                font-size: 3rem;
            }

            .portfolio{
                display: flex;
                flex-direction: row;

                h1 {
                    font-size: 10rem;
                    font-weight: 800;
                    text-transform: uppercase;
                    margin-top: - 3rem;
                }
            }
        }

        @media (min-width: 1500px) {
            .text {
                right: 20vw!important;
            }
        }

        @media (min-width: 1200px) {
            .text {
                right: 5vw;

                .portfolio{
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            .text {
                top: 15vh;
                right: 8vw;

                .portfolio{
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        @media (max-width: 767px) {
            .text {
                top: 7vh;
                right: 4vw;

                .portfolio{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        
        .btn-start {

            button {
                width: 8rem;
                border: solid 2px var(--secondary-color);
                border-radius: 1rem;
                background-color: var(--secondary-color);
                color: white;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
                transition: .5s ease-in-out;

                img {
                    width: 100%;
                }

                &:hover {
                    background-color: white;
                    color: var(--secondary-color);
                }
            }
        }

        // .pic {
        //     display: block;
        //     width: 40vw;     
        //     max-height: 100vh;     
        //     min-height: 70vh;  
        //     margin-top: 30vh;
        //     margin-left: -10vw;
            
        //     //background-color: black;
        //     background-image: url(../../../assets/home/landing-img.png);
        //     background-position: center;
        //     background-size: contain;
        //     background-repeat: no-repeat;
    
        //     img {
        //         width: 100%;
        //     }
        // }
        
    }
}

@media (max-width: 1199px) {
    .small{
        display: block!important;
    }

    .desktop {
        display: none!important;
    }
}

@media (min-width: 1200px) {
    .small{
        display: none!important;
    }

    .desktop {
        display: block!important;
    }
}