
<div class="mobile-nav-container">
        <button class="mobile-nav-toggle" aria-controls="navigation" (click)="menuToggle()">
         </button>
        <nav>
            <ul id="navigation" class="navigation">
                <li class="list language-eng" 
                    *ngIf="isHungarianMobileNav" 
                    (click)="changeLanguage()">
                    <P> <span>switch to </span> <br> english</P>
                </li>
                <li class="list language-hun" 
                    *ngIf="!isHungarianMobileNav" 
                    (click)="changeLanguage()">
                    <P> <span>switch to </span> <br> hungarian</P>
                </li>
                <li class="list cv" routerLinkActive="active">
                    <a  routerLink="/cv" (click)="menuToggle()">
                        cv
                    </a>
                </li>
                <li class="list motivation" routerLinkActive="active">
                    <a routerLink="/motivation-letter" (click)="menuToggle()">
                       motivations
                    </a>
                </li>
                <li class="list massage" routerLinkActive="active" (click)="menuToggle()">
                    <a routerLink="/massage-website">
                        massage
                    </a>
                </li>
                <li class="list weather" routerLinkActive="active" (click)="menuToggle()">
                    <a routerLink="/weather-forecast">
                        weather
                    </a>
                </li>
                <li class="list space" routerLinkActive="active" (click)="menuToggle()">
                    <a routerLink="/space-travel">
                        space
                    </a>
                </li>
            </ul>
        </nav>
</div>
