<ng-container *ngIf="breakpointChange$ | async as breakpoint">
  <ng-container [ngSwitch]="true">
    <div
      class="navbar"
      *ngSwitchCase="
        breakpoint === 'large' ||
        breakpoint === 'medium' ||
        breakpoint === 'xlarge'
      "
    >
      <app-navbar *ngIf="!hiddenNavbar"></app-navbar>
    </div>

    <app-mobile-navbar
      *ngSwitchCase="breakpoint === 'xsmall' || breakpoint === 'small'"
    ></app-mobile-navbar>
  </ng-container>
</ng-container>

<router-outlet></router-outlet>
