.hide {
  display: none;
}

.cv-container {
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  position: relative;
  overflow-x: hidden;

  &.small,
  &.xsmall, &.medium {
    .icons {
      display: none;
    }

    .eng,
    .hun {
      background: none;
      overflow-y: auto;

      .info {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.xsmall {
    .eng {
      .content {
        flex-direction: column-reverse;
      }
    }

    .hun {
      .content {
        flex-direction: column;
      }
    }
  }

  .bio {
    padding-top: 5vh;
    text-align: center;
  }

  .info {
    flex: 3;
    margin: 0 0.5rem;
  }

  .icons {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: start;
    align-content: space-around;
    padding-top: 2.2rem;
    margin: 0 0.5rem;

    .switch {
      padding: 0 0.2rem;
    }

    button {
      border: none;
      background-color: transparent;
      transition: 0.5s ease-in-out;

      &:hover {
        transform: scale(1.4);
      }
    }

    .software-text {
      font-size: 2.5rem;
    }

    .logo-1,
    .logo-2,
    .logo-3,
    .logo-4 {
      width: 3rem;

      img {
        width: 100%;
      }
    }
  }

  .summary {
    padding-top: 4vh;
    flex: 1;
    margin: 0 0.5rem;

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 0.5rem;
      border-radius: 1rem;
    }

    .indent {
      text-indent: 0.5rem;
      text-align: justify;
    }

    .soft {
      background-color: var(--secondary-color);
      padding-bottom: 1.5rem;
      border-radius: 1rem;
      padding: 0.5rem;
      margin-bottom: 0.5rem;

      ul {
        padding-left: 2rem;
      }
    }

    .contact {
      background-color: var(--secondary-color);
      list-style-type: none;
      padding-top: 2rem;
      border-radius: 1rem;
      padding: 1rem;

      li {
        padding-bottom: 0.5rem;

        .contact-text {
          margin-left: 0.5rem;
          font-weight: 700;
        }
      }
    }
  }

  .section-select {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0;

    #experience-btn,
    #education-btn {
      border: none;
      padding: 0.7rem 1.5rem;
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
      background-color: var(--main-color);
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: rgba(var(--main-color-rgb), 0.8);
      }
    }

    .active {
      background-color: var(--secondary-color) !important;

      &:hover {
        background-color: var(--secondary-color);
      }
    }

    #experience-btn {
      border-radius: 10px 0 0 10px;
    }

    #education-btn {
      border-radius: 0 10px 10px 0;
    }
  }

  .work-grid {
    display: grid;
    padding-bottom: 1.2rem;
    grid-template-columns: 50% 50%;

    .title {
      text-align: right;
      padding-right: 3rem;
      font-size: 1.2rem;
      font-weight: 500;
      padding-bottom: 0.5rem;
    }

    .time {
      padding-left: 1rem;
      text-align: right;
      padding-right: 3rem;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 600;
      padding-bottom: 2rem;
      padding-left: 25%;
    }

    h3 {
      padding-bottom: 0.5rem;
      font-size: 1.4rem;
      font-weight: 700;
    }

    ul {
      padding-left: 1.2rem;
    }
  }

  .content {
    display: flex;
  }

  .eng {
    background-image: url(../../../assets/cv/cv-bg-eng.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    min-width: 100vw;

    .info {
      padding-right: 25%;
    }
  }

  .hun {
    background-image: url(../../../assets/cv/cv-bg-hun.png);
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;

    .info {
      padding-left: 25%;
    }
  }
}
