 <div class="container-motivation">
    <div class="language-btn">
    <app-button></app-button>
    </div>
    <div id="eng" class="row letter" *ngIf="!isHungarianMotivation">
            <div class="pic">

            </div>
            <div class="text">
                <h2>Dear recruiters</h2>
                <p>
                    Let me tell you something from myself
                </p>
                <p>
                    I spent twelve years working for the Hungarian Defense Forces as a professional soldier. In the last four years, my job involved information and communication support, and I worked in a duty shift system (<i>24 hours on duty and 72 hours off</i>). Alongside this, since 2020, I've also been working as a self-employed massage therapist. Recently, I realized that my work in the public sector doesn't bring me joy, and unfortunately, my workplace and I decided to part ways.
                </p>
                <p>
                    Even though I'm moving on, those twelve years have given me a lot. My ex-profession made me stronger, taught me self-discipline, and helped me appreciate organized surroundings. I value punctuality and consider myself a calm and reasonable man who is trustworthy and honest. I always keep my word. My time in IT and communication made me flexible because every situation and goal is different. Teamwork is crucial, and being a good partner is essential to me.
                </p>
                <p>
                    Since December 2018, I've been in Budapest to explore more opportunities for study and improvement. During the COVID-19 pandemic, I discovered my passion for the IT sector. I completed a Frontend Junior Developer school and showcased my skills through project works. You can check them out by clicking on the <b>'Space'</b>, <b>'Weather'</b>, or <b>'Massage'</b> menu items on the navbar. Each site has links to the source code on Github, and you can also go directly to the webpage. The documentation is available for download in PDF.
                </p>
                <p>
                    Currently, I'm studying German and Python on the Udemy education website. But, of course, I'm not letting my English and IT skills fade away. Although I don't have a university degree, I'm open to this kind of education too.
                </p>
                <p>
                    I really want to get into the IT field. The sector's expectations about self-improvement align with my goals for the future.
                </p>
                <p>Sincerely,</p>
                <p>Peter Popovics</p>
            </div>

    </div>

    <div id="hun" class="row letter" *ngIf="isHungarianMotivation">
        <div class="pic">

        </div>
        <div class="text">
            <h2>Kedves toborzók!</h2>
            <p>
                Engedjetek meg pár szót magamról.
            </p>
            <p>
                Tizenkét éve dolgozom az állami szektorban hivatásos katonaként. A hadseregnél híradás és infokommunikációs ágazatban teljesítettem szolgálatot, az elmúlt négy évben váltásos munkarendben (<i>24 óra szolgálat és 72 óra pihenő</i>). Továbbá három évet másodállásban is dolgoztam, mint  gyógymasszőr.  Az utóbbi évek ráébresztettek, hogy az állami szektorban nem lelem az örömömet, így motivációm sincs a folytatásához. Sajnos a munkahelyem és én elfejlődtünk egymás mellett.
            </p>
            <p>
                Azonban nem feledkezhetek meg arról, amit az elmúlt tizenkét évnek köszönhetek. Az eddigi hivatásomnak hála fegyelmezett és rendszerető lettem. Értékelem és be is tartom a pontosságot. Megbízható és őszinte embernek tartom magam. A seregnél az infokommunikációban eltöltött szolgálati éveim megedzettek, hogy legyek mindíg rugalmas mert a helyzetem és az elérendő cél folyamatosan változik, valamint legyek jó tagja a csapatomnak, mert az eredményességünk az együttműködésünkön múlik.
            </p>
            <p>
                2018 decembere óta dolgozom Budapesten, ezzel szélesítve a lehetőségeimet a tanulásra és az új dolgokkal való megismerkedésre.  A COVID-19 járvány alatt találtam rá a webfejlesztésre, amely megtetszett és elvégeztem egy frontend junior programozói tanfolyamot.  Ismereteimet a projektmunkáimban prezentálom. Ezen munkáim bemutatóját megtaláljátok a <b>space</b>, <b>weather</b> és <b>massage</b> menüpontok alatt a navigációs sávon. Minden oldal tartalmazza a forráskód elérhetőségét Github-on és az elérési linkjét a weboldalnak. A dokumentációk pdf formátumban is letölthetőek.
            </p>
            <p>
                Jelenleg a német nyelv és a Python alapjainak az elsajátításán dolgozom a Udemy-n. Természetesen ezzel egyidejűleg az angol nyelvtudásom valamint a Frontend ismereteim szintentartásával is foglalatoskodom. Jelenleg nem rendelkezem egyetemi végzettséggel, de egyántalán nem is zárkózom el ilyen irányú képzésektől a jövőben.
            </p>
            <p>
                Szeretnék az informatika világában elhelyezkedni és a versenyszférában dolgozni.  Nagyon szimpatikusnak találom a munkakör fejlődéssel szembeni elvárásait valamint, hogy folyamatos naprakészséget igényel.
            </p>
            <p>Köszönettel:</p>
            <p>Popovics</p>
        </div>
    </div>
</div>
