<div class="container-menu">
    <h1>portfolio</h1>
    <div class="content">

        <a class="space" routerLink="/space-travel">
            <h2>Into the space</h2>
        </a>
        <a class="letter" routerLink="/motivation-letter">
            <h2 class="main-color">My motivation</h2>
        </a>
        <a class="cv" routerLink="/cv">
            <p>WHO</p>
            <p>AM</p>
            <p>I</p>
        </a>
        <a class="forecast" routerLink="/weather-forecast">
            <h2>Weather forecast</h2>
        </a>
        <a class="massage" routerLink="/massage-website">
            <h2 class="main-color">Relaxation</h2>
        </a>

    </div>
</div>
